* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.primary_color {
  color: #e9b21e;
  font-weight: 700;
  font-size: 1.2rem;
}

.second_color {
  color: #947222;
  font-size: 1.2rem;
}

.color_white {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 576px) {
  .primary_color {
    color: #e9b21e;
    font-weight: 700;
    font-size: 1rem;
  }

  .color_white {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.primary_color {
  color: #e9b21e;
  font-weight: 700;
  font-size: 1.2rem;
}

.second_color {
  color: #947222;
  font-size: 1.2rem;
}

.color_white {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 576px) {
  .primary_color {
    color: #e9b21e;
    font-weight: 700;
    font-size: 1rem;
  }

  .color_white {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .container .title_top {
    height: 50px;
  }
  .container .title_top h3 {
    font-size: 1.2rem;
  }

  .container.body {
    width: 534px;
  }
  .container.body .mt-5 .coin {
    width: 528px;
    height: 60px;
    border-radius: 12px;
    background-color: #24252e;
  }
  .container.body .mt-5 .tygia {
    width: 528px;
    height: 96px;
    border-radius: 12px;
    background-color: #24252e;
  }
  .container.body .support {
    display: block;
  }

  .container .update_exchange .content li .color_white {
    font-size: 1.2rem;
  }
}
#root {
  width: 100%;
  height: 100%;
  background: #16181f;
  padding-bottom: 4px;
}

.container .title_top {
  color: #e9b21e;
  text-align: center;
  padding: 10px 0;
}

header {
  background-color: #24252e;
  height: 4.5rem;
}
header .row .content_header h3 {
  color: #e9b21e;
  font-size: 22px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 0;
}
header .row .img_phone {
  width: 36px;
}

.container.body {
  margin: 2rem auto;
  position: relative;
}
.container.body .img_logo {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.container.body .img_logo .logo {
  margin-left: 16px;
}
.container.body .mt-5 .coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container.body .mt-5 .coin span {
  font-size: 1.2rem;
}
.container.body .mt-5 .tygia {
  margin: 1rem 0;
}
.container.body .mt-5 .tygia .color_white {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 11px;
}
.container.body .muaban {
  width: 528px;
  height: 274px;
  border-radius: 12px;
  background-color: #24252e;
}
.container.body .muaban .nav-tabs {
  border: none;
}
.container.body .muaban .nav-tabs .nav-item {
  width: 50%;
  display: block;
}
.container.body .muaban .nav-tabs .nav-item .nav-link {
  display: block;
  text-align: center;
  border: none;
  color: #947222;
  font-weight: 600;
  background-color: #16181f;
}
.container.body .muaban .nav-tabs .nav-item .nav-link.active {
  background-color: #24252e;
  color: #e9b21e;
  border-bottom: 2px solid #16181f;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.container.body .muaban .tab-content #mua_coin .input_mb,
.container.body .muaban .tab-content #ban_coin .input_mb {
  width: 412px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.container.body .muaban .tab-content #mua_coin .input_mb label,
.container.body .muaban .tab-content #ban_coin .input_mb label {
  display: inline-block;
  width: 100px;
}
.container.body .muaban .tab-content #mua_coin .input_mb input,
.container.body .muaban .tab-content #mua_coin .input_mb select,
.container.body .muaban .tab-content #ban_coin .input_mb input,
.container.body .muaban .tab-content #ban_coin .input_mb select {
  background-color: #16181f;
  border: none;
  outline: none;
  text-align: left;
  width: 300px;
  padding: 0.25rem 0.5rem;
  color: #757575;
  border-radius: 8px;
}
.container.body .muaban .tab-content #mua_coin .input_mb input::-webkit-input-placeholder,
.container.body .muaban .tab-content #ban_coin .input_mb input::-webkit-input-placeholder {
  font-style: italic;
}
.container.body .muaban .tab-content #mua_coin .input_mb input::-moz-placeholder,
.container.body .muaban .tab-content #ban_coin .input_mb input::-moz-placeholder {
  font-style: italic;
}
.container.body .muaban .tab-content #mua_coin .input_mb input:-ms-input-placeholder,
.container.body .muaban .tab-content #ban_coin .input_mb input:-ms-input-placeholder {
  font-style: italic;
}
.container.body .muaban .tab-content #mua_coin .input_mb input::-ms-input-placeholder,
.container.body .muaban .tab-content #ban_coin .input_mb input::-ms-input-placeholder {
  font-style: italic;
}
.container.body .muaban .tab-content #mua_coin .input_mb input::placeholder,
.container.body .muaban .tab-content #mua_coin .input_mb select,
.container.body .muaban .tab-content #ban_coin .input_mb input::placeholder,
.container.body .muaban .tab-content #ban_coin .input_mb select {
  font-style: italic;
}
.container.body .muaban .tab-content #mua_coin .input_mb .quantity,
.container.body .muaban .tab-content #ban_coin .input_mb .quantity {
  width: 90px;
}
.container.body .muaban .tab-content #mua_coin .input_mb .money,
.container.body .muaban .tab-content #ban_coin .input_mb .money {
  width: 190px;
  display: inline-block;
}
.container.body .muaban .tab-content #mua_coin .btn,
.container.body .muaban .tab-content #ban_coin .btn {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #e9b21e;
  color: #16181f;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.container.body .muaban .tab-content #mua_coin .btn:hover,
.container.body .muaban .tab-content #ban_coin .btn:hover {
  background-color: #c29523;
  color: #16181f;
}
.container.body .support {
  position: absolute;
  right: -378px;
  top: 136px;
}
.container.body .support h3 {
  background-color: #24252e;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.container.body .support img {
  width: 90px;
  margin-left: 12px;
}

.container .update_exchange .update .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container .update_exchange .update .title span {
  margin: 0 0.2rem;
  padding: 6px 0;
}
.container .update_exchange .update .content {
  border-radius: 8px;
}
.container .update_exchange .update .content li:first-child {
  border-radius: 8px;
}
.container .update_exchange .update .content li:nth-child(2) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container .update_exchange .update .content li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container .update_exchange .update .content li {
  background-color: #24252e;
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .update_exchange .update .content li span {
  display: inline-block;
  text-align: center;
  width: 150px;
}
.container .update_exchange .update .content li .bd-left {
  border-left: 2px solid #e9b21e;
  padding-left: 8px;
  line-height: 1;
}
.container .update_exchange .update .content li .color_white {
  letter-spacing: 1px;
}

.container.copyright h3.primary_color {
  text-align: center;
  padding: 40px 0 50px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.primary_color {
  color: #e9b21e;
  font-weight: 700;
  font-size: 1.2rem;
}

.second_color {
  color: #947222;
  font-size: 1.2rem;
}

.color_white {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 576px) {
  .primary_color {
    color: #e9b21e;
    font-weight: 700;
    font-size: 1rem;
  }

  .color_white {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }

  .container .title_top {
    text-align: center;
    padding: 10px 0;
  }
  .container .title_top h3 {
    font-size: 1rem;
  }

  header {
    height: 4rem;
  }
  header .row .content_header_mobile {
    display: none;
  }
  header .row .content_header h3 {
    line-height: 66px;
  }

  .container.body .mt-5 .coin {
    width: 100%;
    background-color: #24252e;
    padding: 1rem 0;
    border-radius: 12px;
  }
  .container.body .mt-5 .coin span {
    font-size: 1rem;
  }
  .container.body .mt-5 .tygia {
    width: 100%;
    border-radius: 12px;
    background-color: #24252e;
    padding-bottom: 0.9rem;
  }
  .container.body .muaban {
    width: 100%;
  }
  .container.body .muaban .tab-content #mua_coin .input_mb input,
.container.body .muaban .tab-content #ban_coin .input_mb input {
    width: 200px;
  }
  .container.body .muaban .tab-content #mua_coin .input_mb .money,
.container.body .muaban .tab-content #ban_coin .input_mb .money {
    width: 120px;
  }
  .container.body .muaban .tab-content #mua_coin .input_mb select,
.container.body .muaban .tab-content #ban_coin .input_mb select {
    width: 200px;
  }
  .container.body .muaban .tab-content #mua_coin .input_mb .quantity,
.container.body .muaban .tab-content #ban_coin .input_mb .quantity {
    width: 66px;
  }
  .container.body .support {
    right: 4px;
    top: 585px;
  }
  .container.body .support h3 {
    -webkit-box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
  }

  .container.copyright h3.primary_color {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
