@import "var";
// mobile
$res_mobile: "only screen and (max-width: 576px)";
@mixin responsive_mobile() {
  @media #{$res_mobile} {
    @content;
  }
}
@include responsive_mobile {
  html {
    font-size: 12px;
  }
  #root {
    overflow: hidden;
  }

  .container {
    .title_top {
      text-align: center;
      padding: 0.625rem 0;
      h3 {
        font-size: 1rem;
      }
    }
  }
  header {
    height: 4rem;
    .row {
      .content_header_mobile {
        display: none;
      }
      .content_header {
        h3 {
          line-height: 4.125rem;
        }
      }
    }
  }
  .container.body {
    .mt-5 {
      .coin {
        width: 100%;
        background-color: #24252e;
        padding: 1rem 0;
        border-radius: 0.75rem;
        span {
          font-size: 1rem;
        }
      }
      .tygia {
        width: 100%;
        border-radius: 0.75rem;
        background-color: #24252e;
        padding-bottom: 0.9rem;
      }
    }
    .muaban {
      width: 100%;
      .tab-content {
        #mua_coin,
        #ban_coin {
          .input_mb {
            input {
              width: 19rem;
            }
            .money {
              width: 12.3rem;
            }
            select {
              width: 19rem;
            }
            .quantity {
              width: 5.5rem;
            }
          }
        }
      }
    }
    .support {
      right: 0.25rem;
      top: 37.25rem;
      z-index: 1;
      h3 {
        -webkit-box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
      }
    }
  }
  .container.copyright {
    h3.primary_color {
      font-size: 0.8rem;
    }
  }
  .update_exchange {
    .update {
      .content {
        li {
          span {
            width: 8.34rem;
          }
        }
      }
    }
  }
}
