@import "var";
$res_pc: "only screen and (min-width: 992px)";

@mixin responsive_pc() {
  @media #{$res_pc} {
    @content;
  }
}

@include responsive_pc {
  .container {
    .title_top {
      height: 3.125rem;
      h3 {
        font-size: 1.2rem;
        line-height: 3.125rem;
      }
    }
  }

  .container.body {
    width: 33.375rem;

    .mt-5 {
      .coin {
        @include div_main(3.75rem);
      }
      .tygia {
        @include div_main(6rem);
      }
    }
    .support {
      display: block;
    }
  }

  .container {
    .update_exchange {
      .content {
        li {
          .color_white {
            font-size: 1.2rem;
          }
          span {
            width: 9.375rem;
          }
        }
      }
    }
  }
}
