@import "var";
@import "pc";

#root {
  width: 100%;
  height: 100%;
  background: #16181f;
  padding-bottom: 4px;
}
.container {
  .title_top {
    color: $primary-color;
    text-align: center;
    padding: 10px 0;
  }
}
header {
  background-color: #24252e;
  height: 4.5rem;
  .row {
    .content_header {
      h3 {
        color: $primary-color;
        font-size: 22px;
        text-align: center;
        line-height: 80px;
        margin-bottom: 0;
      }
    }

    .img_phone {
      width: 36px;
    }
  }
}
.container.body {
  margin: 2rem auto;
  position: relative;
  .img_logo {
    width: 220px;
    @include canhgiua;
    .logo {
      margin-left: 16px;
    }
  }
  .mt-5 {
    .coin {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      span {
        font-size: 1.2rem;
      }
    }
    .tygia {
      margin: 1rem 0;
      .color_white {
        text-align: center;
        font-size: 1.2rem;
        padding-top: 11px;
      }
    }
  }
  .muaban {
    @include div_main(274px);
    .nav-tabs {
      border: none;
      .nav-item {
        width: 50%;
        display: block;
        .nav-link {
          display: block;
          text-align: center;
          border: none;
          color: #947222;
          font-weight: 600;
          background-color: #16181f;
        }
        .nav-link.active {
          background-color: #24252e;
          color: #e9b21e;
          border-bottom: 2px solid #16181f;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
      }
    }
    .tab-content {
      #mua_coin,
      #ban_coin {
        .input_mb {
          width: 412px;
          margin-bottom: 1rem;
          @include canhgiua();
          label {
            display: inline-block;
            width: 100px;
          }
          input,
          select {
            background-color: #16181f;
            border: none;
            outline: none;
            text-align: left;
            width: 300px;
            padding: 0.25rem 0.5rem;
            color: #757575;
            border-radius: 8px;
          }
          input::-webkit-input-placeholder {
            font-style: italic;
          }
          input::-moz-placeholder {
            font-style: italic;
          }
          input:-ms-input-placeholder {
            font-style: italic;
          }
          input::-ms-input-placeholder {
            font-style: italic;
          }
          input::placeholder,
          select {
            font-style: italic;
          }
          .quantity {
            width: 90px;
          }
          .money {
            width: 190px;
            display: inline-block;
          }
        }
        .btn {
          margin-left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: $primary-color;
          color: #16181f;
          font-weight: 600;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          &:hover {
            background-color: $secondary-color;
            color: #16181f;
          }
        }
      }
    }
  }
  .support {
    position: absolute;
    right: -378px;
    top: 136px;
    h3 {
      background-color: #24252e;
      padding: 0.5rem 1rem;
      border-radius: 8px;
    }
    img {
      width: 90px;
      margin-left: 12px;
    }
  }
}
.container {
  .update_exchange {
    .update {
      .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        span {
          margin: 0 0.2rem;
          padding: 6px 0;
        }
      }

      .content {
        border-radius: 8px;
        li:first-child {
          border-radius: 8px;
        }
        li:nth-child(2) {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        li:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        li {
          background-color: #24252e;
          padding: 0.3rem;
          @include flex(space-around, center);
          span {
            display: inline-block;
            text-align: center;
            width: 150px;
          }
          .bd-left {
            border-left: 2px solid $primary-color;
            padding-left: 8px;
            line-height: 1;
          }
          .color_white {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
.container.copyright {
  h3.primary_color {
    text-align: center;
    padding: 40px 0 50px 0;
  }
}
@import "mobile";
